<div class="container">
  <img src="assets/images/card-background.png">
  <div class="">
    <div class="box centered">
      <div class="label-div">
        <mat-card class="display-card">
          <div ><img class="imgCls" src="assets/images/cash.png" ></div>
          <div >
            <br>
            <br>
          <label class="quick-cash-label">Quick cash disbursement</label>
          <label class="sub-label">Get terms loans that your business needs within 72 hrs</label>
          </div>
        </mat-card>
        <mat-card class="display-card">
          <div ><img class="imgCls" src="assets/images/intrest.png" ></div>
          <div >
            <br>
            <br>
          <label class="quick-cash-label">Low-interest rate</label>
          <label class="sub-label">Achieve your financial goals with an amazing interest rate starting at 13% per annum</label>
          </div>
        </mat-card>
        <mat-card class="display-card">
          <div ><img class="imgCls" src="assets/images/paperwork1.png" ></div>
          <div >
            <br>
            <br>
          <label class="quick-cash-label">Zero Paperwork</label>
          <label class="sub-label">Get started instantly by submitting only your basic details & bank statements</label>
          </div>
        </mat-card>
      </div>
        <!-- <mat-card class="paperwork-card">hello3</mat-card> -->

      <div>
        <mat-card class="finance-card">
          <div ><img class="imgCls" src="assets/images/finance.png" ></div>
          <div >
            <br>
            <br>
          <label class="quick-cash-label">Ace your business finances</label>
          <label class="sub-label">Get started instantly by submitting only your basic details & bank statements</label>
          </div>
        </mat-card>
        <mat-card class="loan-card">
          <div ><img class="imgCls" src="assets/images/loan.png" ></div>
          <div >
            <br>
            <br>
          <label class="quick-cash-label">Loans to fight COVID-19</label>
          <label class="sub-label">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</label>
          </div>
        </mat-card>
      </div>
      <div class="button-div">
        <label class="business-label">Boost your business with Open</label><br>
        <label class="business-sublabel">Get your hands on a term loan that’s crafted for your business</label><br>
        <button mat-stroked-button class="btnCls" color="primary">Get an open Account</button>
      </div>
    </div>

  </div>
</div>
